/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    text-align: center;
    color: #007BFF;
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 18px;
    color: #555;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: #0056b3;
}

#dataDisplay, #randomStringDisplay, #userRandomStringDisplay, #about{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: #007BFF;
}

label, input {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 16px;
}

input[type="number"] {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100px;
}

input[type="number"]:focus {
    outline: none;
    border-color: #007BFF;
}
